# Site
name: "MadTech"
title: "MadTech"
description: "애드테크 기반 모바일 퍼모먼스 마케팅, 매드업 블로그입니다."
#meta_description: ""
logo: 'assets/images/logo.png'
favicon: 'assets/images/favicon.ico'
google_analytics: 'UA-126392657-1'
disqus: 'maedeueob-gisulbeulrogeu'
include: ["_pages"]
permalink: /:title/

# Authors
authors:
  Jason:
    name: Jason
    display_name: Jason
    email: sngwon@madup.com
    web: https://github.com/sngwon
    description: "매드업의 짱짱 개발자입니다"
  Willy:
    name: Willy
    display_name: Willy
    email: qowns8@madup.com
    web: https://github.com/qowns8
    description: "매드업의 서버 개발자입니다"
  Wendy:
    name: Wendy
    display_name: Wendy
    email: aracho@madup.com
    web: https://github.com/byaracho
    description: "매드업의 데이터 분석가입니다"
  Cindy:
    name: Cindy
    display_name: Cindy
    gravatar: b1cc14991db7a456fcd761680bbc8f81
    email: ymr@madup.com
    web: https://github.com/firepunch
    description: "매드업의 프론트엔드 개발자입니다"
  Chris:
    name: Chris
    display_name: Chris
    web: https://github.com/jeonghwan-kim

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/category/:name/'

# Pagination
paginate: 6
paginate_path: /page:num/

# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true
