---
layout: default
---

<div class="uk-container uk-margin-medium-bottom uk-margin-xlarge-top">
  <h1 class="uk-text-center uk-margin uk-article-title article-title-font">{{ page.tag }}</h1>
  <hr class="uk-margin-remove">
</div>

<div class="uk-container uk-container-small uk-margin-medium-bottom">
    {% if site.categories[page.tag] %}
      {% assign post = site.categories[page.tag] | first  %}
      {% if post %}
          {% include content-media-left-1-2.html %}
      {% endif %}

      <hr class="uk-margin-remove-top">

      {% for post in site.categories[page.tag] offset:1 limit: 30 %}

          {% include content-media-left-1-3.html %}

      {% endfor %}
    {% else %}
    <h3 class="article-title-font uk-text-center" style="min-height: 10em">아티클이 존재하지 않습니다.</h3>
    {% endif %}
</div>
